<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter Players</title>
    <!-- Link to external stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Enter Players</h1>

    <!-- Form to Submit Players -->
    <form action="/enter_players" method="POST">
      <!-- Team 1 Players -->
      <h2>Enter Players for {{ match_data['team1'] }}</h2>
      {% for i in range(match_data['total_players']) %}
      <label for="team1_player{{ i+1 }}">Player {{ i+1 }}:</label>
      <input    
        type="text"
        id="team1_player{{ i+1 }}"
        name="team1_player{{ i+1 }}"
        value="{{ match_data.get('team1_player' + (i+1)|string, '') }}"
        required
      />
      <br />
      {% endfor %}
      <br />

      <!-- Team 2 Players -->
      <h2>Enter Players for {{ match_data['team2'] }}</h2>
      {% for i in range(match_data['total_players']) %}
      <label for="team2_player{{ i+1 }}">Player {{ i+1 }}:</label>
      <input
        type="text"
        id="team2_player{{ i+1 }}"
        name="team2_player{{ i+1 }}"
        required
      />
      <br />
      {% endfor %}
      <br />

      <!-- Submit Button -->
      <button type="submit">Submit Players</button>
    </form>
    
  </body>
</html>
