<!DOCTYPE html>
<html>
<head>
    <title>Football</title>
</head>
<body>
    <h1>Football Match Details</h1>
    <form>
        <label for="team1">Team 1:</label>
        <input type="text" id="team1" name="team1"><br>
        
        <label for="team2">Team 2:</label>
        <input type="text" id="team2" name="team2"><br>
        
        <label for="players">Players per Team:</label>
        <input type="number" id="players" name="players"><br>
        
        <button type="submit">Start Match</button>
    </form>
</body>
</html>

